.Rproj.user
.Rhistory
.RData
.Ruserdata
.grd
.gri
.tif
.csv

# Exclude TraCE21 temp stack
source/AnnualTemperatureStack_21000_0BP.nc

# Exclude the files from the compiled markdown docs
Code/*.md
Code/*.html
