.Rproj.user
.Rhistory
.RData
.Ruserdata
# .grd
# .gri
# .tif
# .csv

# Exclude TraCE21 temp stack
# Data for HCO is included in analysis
source/AnnualTemperatureStack_21000_0BP.nc

# Exclude the files from the compiled markdown docs
!Code/*.Rmd
Code/*.md
Code/*.html
Code/

# Exclude outputs from syncing
!outputs/outputs.txt
outputs/*

# Exclude figures from syncing
Figures/*
